<!-- <div class="bg-gray p-5">
  <h1 class="text-4xl" id="contactus">Give us a shout</h1>
  <p class="my-5">Let us know when you would like us to cook for you</p>
  <form>
    <div class="my-2">
      <label class="block" for="name">Name</label>
      <input class="block rounded-md px-5 py-2" id="name" name="name" type="text" />
    </div>
    <div class="my-2">
      <label class="block" for="email">Email</label>
      <input class="block rounded-md px-5 py-2" id="email" name="email" type="email" />
    </div>

    <div class="my-2">
      <label class="block" for="message">Message</label>
      <textarea class="block rounded-md px-5 py-2" id="message" name="message"></textarea>
    </div>

    <div class="my-2">
      <label class="block" for="date">Date</label>
      <input class="block rounded-md px-5 py-2" id="date" type="date" />
    </div>

    <button class="block rounded-md border-r-4 border-none bg-green p-5" type="submit">Send</button>
  </form>
</div> -->
