<div
  #home
  class="landscape: grid h-[calc(100svh-4rem)] grid-rows-1 bg-green-600 portrait:grid-cols-1 portrait:grid-rows-9 landscape:grid-cols-2"
  id="home"
>
  <div class="row-span-4 flex portrait:items-end landscape:items-center landscape:justify-center">
    <img class="max-h-full w-full" src="/assets/svg/logo.svg" alt="Little Nunna's Pizza" />
  </div>

  <div class="row-span-4 flex portrait:items-start landscape:items-center landscape:justify-center">
    <img
      class="max-h-full w-full animate-fade-right p-1 animate-duration-[2000ms]"
      src="/assets/svg/kart.svg"
      alt="Little Nunna's Pizza"
    />
  </div>
</div>

<div
  class="sticky top-0 z-10 flex h-16 list-none justify-center bg-green-600 p-0 font-teko text-xl sm:text-4xl"
>
  <button (click)="scroll(home)" class="m-1 rounded-lg p-1.5 text-white">Home</button>

  <button (click)="scroll(gallery)" class="m-1 rounded-lg p-1.5 font-teko text-white">
    Gallery
  </button>

  <button (click)="scroll(about)" class="m-1 rounded-lg p-1.5 text-white">About</button>

  <button (click)="scroll(contactUsForm)" class="m-1 rounded-lg p-1.5 text-white">
    Contact us
  </button>

  <app-social></app-social>
</div>

<div class="m-auto max-w-screen-lg p-5">
  <app-hygiene-rating [businessId]="'1382167'"></app-hygiene-rating>
</div>

<div #gallery class="m-auto max-w-screen-lg p-5" id="gallery">
  <app-gallery></app-gallery>
</div>

<div #about class="m-auto max-w-screen-lg p-5" id="about">
  <app-about></app-about>
</div>

<div #contactUsForm class="m-auto max-w-screen-lg p-5" id="contactus">
  <app-contact></app-contact>
</div>

<div class="m-auto max-w-screen-lg p-5">
  <app-footer></app-footer>
</div>
