<div class="relative h-[calc(100svh)] border-32 border-solid border-woodsmoke bg-green">
  <h1>
    <img
      class="absolute h-1/2 w-full pb-20"
      src="/assets/images/logo.svg"
      alt="Little Nunna's Pizza"
    />
  </h1>

  <img
    class="absolute inset-x-0 bottom-0 mb-20 h-1/2 w-full p-5"
    src="/assets/photos/kart.svg"
    alt="Little Nunna's Pizza"
  />

  <div class="absolute inset-x-0 bottom-0 m-5 text-center">
    <button
      (click)="scroll(contactUsForm)"
      class="bg-red p-3 font-teko text-3xl text-gray drop-shadow-md text-shadow-md"
    >
      Contact us
    </button>
  </div>
</div>

<div class="m-auto max-w-screen-lg p-5">
  <div class="m-auto mt-10 grid max-w-screen-lg grid-cols-2 gap-10 p-8">
    <div>
      <img
        class="spacing-2 rounded-sm border-8 border-solid border-woodsmoke-900"
        src="./../../../assets/photos/2.jpg"
        alt="logo"
      />
    </div>
    <div>
      <img
        class="border-spacing-2 rounded-sm border-8 border-solid border-woodsmoke-900"
        src="./../../../assets/photos/4.jpg"
        alt="logo"
      />
    </div>
    <div>
      <img
        class="border-spacing-2 rounded-sm border-8 border-solid border-woodsmoke-900"
        src="./../../../assets/photos/3.jpg"
        alt="logo"
      />
    </div>

    <div>
      <img
        class="border-spacing-2 rounded-sm border-8 border-solid border-woodsmoke-900"
        src="./../../../assets/photos/5.jpg"
        alt="logo"
      />
    </div>
  </div>

  <div class="mt-16">
    <p class="text-center font-teko text-4xl text-gray md:text-6xl">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
      labore et dolore magna aliqua. Ut enim ad minim veniam...
    </p>
  </div>

  <div #contactUsForm class="mt-7 p-5 font-teko">
    <h1 class="text-3xl text-gray md:text-5xl" id="contactus">Give us a shout</h1>
    <p class="my-5 text-gray">Let us know when you would like us to cook for you</p>
    <form class="text-2xl">
      <div class="my-2">
        <label class="block text-gray" for="name">Name</label>
        <input class="block rounded-md px-5 py-2" id="name" name="name" type="text" />
      </div>
      <div class="my-2">
        <label class="block text-gray" for="email">Email</label>
        <input class="block rounded-md px-5 py-2" id="email" name="email" type="email" />
      </div>

      <div class="my-2">
        <label class="block text-gray" for="message">Message</label>
        <textarea class="block rounded-md px-5 py-2" id="message" name="message"></textarea>
      </div>

      <div class="my-2">
        <label class="block text-gray" for="date">Date</label>
        <input class="block rounded-md px-5 py-2" id="date" type="date" />
      </div>

      <button class="block rounded-md border-r-4 border-none bg-green p-5 text-gray" type="submit">
        Send
      </button>
    </form>
  </div>
</div>
