<div class="grid grid-cols-2">
  <div>
    <app-pizza-border
      [imageUrl]="'../../../assets/photos/500x500/4.jpg'"
      [rotation]="0"
    ></app-pizza-border>
  </div>
  <div>
    <app-pizza-border
      [imageUrl]="'../../../assets/photos/500x500/11.jpg'"
      [rotation]="90"
    ></app-pizza-border>
  </div>
  <div>
    <app-pizza-border
      [imageUrl]="'../../../assets/photos/500x500/7.jpg'"
      [rotation]="-45"
    ></app-pizza-border>
  </div>
  <div>
    <app-pizza-border
      [imageUrl]="'../../../assets/photos/500x500/8.jpg'"
      [rotation]="180"
    ></app-pizza-border>
  </div>
  <div>
    <app-pizza-border
      [imageUrl]="'../../../assets/photos/500x500/10.jpg'"
      [rotation]="-45"
    ></app-pizza-border>
  </div>
  <div>
    <app-pizza-border
      [imageUrl]="'../../../assets/photos/500x500/13.jpg'"
      [rotation]="180"
    ></app-pizza-border>
  </div>
</div>
