@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Aldrich';
  src: url('fonts/Aldrich-Regular.ttf');
}

@font-face {
  font-family: 'CabinSketch';
  src: url('fonts/CabinSketch-Regular.ttf');
}

@font-face {
  font-family: 'Keep Singing';
  src: url('fonts/keep-singing.regular.ttf');
}

@font-face {
  font-family: 'Teko Light';
  src: url('fonts/Teko-Light.ttf');
}

@layer base {
  /* ... */
}
