<p
  [class.animate-stop]="!isInViewport"
  [inViewportOptions]="{ threshold: [0.5] }"
  (inViewportAction)="isInViewport = $event.visible"
  class="animate-fade-up animate-duration-[1000ms] mt-16 text-center font-teko text-4xl text-gray md:text-6xl"
  inViewport
>
  Our unique mobile pizzeria brings the charm of a wood-fired oven to your event. We serve artisanal
  pizzas, handcrafted with fresh ingredients, from our distinctive three-wheeled van. Perfect for
  any gathering, our service promises a memorable culinary experience that goes beyond just food.
</p>
