<div class="flex items-center">
  <div class="flex-1"></div>
  <div class="flex-2 flex items-center">
    <img class="inline size-12 sm:size-20" src="./../../../assets/images/logo-red.svg" alt="logo" />
    <h1 class="font-title text-xl text-gray sm:text-4xl">Little Nunna's Pizza</h1>
  </div>
  <div class="flex-1"></div>
</div>

<nav class="bg-green-700">
  <ul class="flex justify-center space-x-4 font-title text-xl text-gray sm:text-2xl">
    <li class="list-item"><a href="#contactus">Contact us</a></li>
  </ul>
</nav>
